.constructor__page {
  background-color: rgb(248, 248, 248);
  height: 100vh;
  padding-top: 70px;
}

.tabs__row {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f1f1f1;
  margin-top: 70px;
  word-break: break-all;
  border-radius: 15px;
}
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  position: relative;
  outline: none;
  justify-content: center;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.content-tabs {
  flex-grow: 1;
}
.tabs__row-box {
  display: flex;
  justify-content: center;
}
.tabs__button-head {
  font-size: 18px;
}
.tabs__button-row {
  align-items: center;
  padding: 0px 5px;
}
.tabs__button-row i {
  font-size: 25px;
}
.tabs__img-bg {
  margin-top: 5px;
  height: 35px;
  width: 35px;
  // background-color: #ffbc6f;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.tabs__img-bg-active {
  background-color: #ffbc6f;
}

.tabs__button-text {
  font-size: 14px;
  color: #c8c8c8;
}
.size__row {
  display: flex;
  flex-wrap: wrap;
}
.size__img {
  width: 50%;
  align-items: center;
  display: flex;
}
.size__img img {
  max-width: 100%;
  margin-top: 80px;
}

.size__inputs {
  width: 50%;
  justify-content: center;
  text-align: center;
}

.size__inputs h3 {
  font-size: 1.55rem;
  margin: 30px 0px;
}
.size__inputs input {
  border: solid 1px #ececec;
  min-height: 50px;
  width: 350px;
  display: inline;
  margin: 10px 0px;
  padding-left: 20px;
}
.size__inputs input:focus {
  border: solid 1px rgb(34, 174, 230);
  box-shadow: 0 0 0.4em 0 rgb(34, 174, 230);
}
.size__inputs-aftersize {
  display: inline;

  padding: 15px 15px 14px 15px;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(216, 216, 216);
}

.size__btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffb54f;
  padding: 15px 180px;
  color: #fff;
  font-weight: bold;
}
.size__btn-row {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
.content__input {
  border: 1px solid;
}

@media (max-width: 925px) {
  .size__img {
    width: 100%;
  }
  .size__inputs {
    width: 100%;
    padding: 0px 0px;
  }
  .size__inputs input {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .size__img {
    width: 100%;
  }
  .size__inputs {
    width: 100%;
    padding: 0px 0px;
  }

  .size__inputs input {
    width: 75%;
  }
  .size__btn {
    padding: 12px 39%;
  }
}
