.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}

.slideWrapper {
  display: flex;
  justify-content: center;
}

.prevArrow {
  position: absolute;
  top: 20%;
  left: 0px;
  cursor: pointer;
  font-size: 2rem;
}

.nextArrow {
  position: absolute;
  top: 20%;
  right: 0px;
  z-index: 100;
  cursor: pointer;
  font-size: 2rem;
}

.slick-center {
  transform: scale(1.5);
  position: relative;
  z-index: 1;
}

.slick-slider {
  overflow: none;
}
