.slickslider {
  display: flex;
}

.slickslider__row {
  margin: 50px;
  overflow: hidden;
}

.slickslider__img {
  width: 310px;
  height: 180px;
  opacity: 0.6;
  position: relative;
}
.slick-arrow {
  display: none;
  background-color: black;
}

.slick-center {
  transform: scale(2);
  position: relative;
  z-index: 1;
}

.slick-center img {
  opacity: 1;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .slick-center {
    transform: scale(1);
    position: relative;
    z-index: 1;
  }
  .slickslider__row {
    margin: 0px;
  }
  .slickslider__row img {
    margin-left: 21px;
  }

  .slick-center img {
    opacity: 1;
    animation: none;
  }

  .slickslider__img {
    opacity: 1;
  }
}
